.home-body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../images/waves.png');
    background-size: cover;
    background-position: center top -5px;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.card {
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: end;
    text-decoration: none;
}

.card h2 {
    color: #ffffff;
}

.text-box {
    margin-top: 100px;
    margin-bottom: 100px;
}

.text-box p{
    text-align: center;
    color: #2741b2;
    font-size: 4em;
}

@media screen and (max-width: 860px) {
    .home-body {
        background-position: 300px;
    }

    .cards {
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: 300px;
        height: 200px;
        margin:  5px auto;
    }

    .text-box {
        margin-top: 70px;
    }

    .text-box p {
        font-size: 3em;
    }
}